# ========= Logs & Env =========
*.log
server_log.txt
.env

# ========= Node.js =========
node_modules/
package-lock.json

# ========= Tests & Scripts (Helt isolerat) =========
/tests/

# ========= Build Output =========
dist/
win-unpacked/

# ========= Databaser & System =========
atlas.db
atlas.db-shm
atlas.db-wal
external/
.DS_Store
Thumbs.db